<html>
  <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <style>
      body { padding-top: 70px;
             text-align: center;}
      </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="https://codebreakquizapp.herokuapp.com/" style='margin-left: 50%; margin-right: 50%'>Quiz</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <h1 class="quiz_title">{{quiz["title"]}}</h1>
    <p>Permanent quiz link: <a href="https://codebreakquizapp.herokuapp.com/quiz?quiz-id={{id}}">https://codebreakquizapp.herokuapp.com/quiz?quiz-id={{id}}</a></p>
    <form action="https://codebreakquizapp.herokuapp.com/checkanswer?quiz-id={{id}}" method=post>
      <div class="multiple_choice">
        <!--Beginning of multiple choice questions-->
        {% try %}
          {% for question in quiz['multiple_choice'] %}
            <fieldset id="mc{{str(quiz['multiple_choice'].index(question))}}">
            <p class="question_label">Multiple Choice Question {{quiz["multiple_choice"].index(question)+1}}: {{question['text']}}</p>

            {% for option in question['options'] %}
              <input type="radio" name="mc{{str(quiz['multiple_choice'].index(question))}}" id="'a'+str(question['options'].index(option))}}" value="{{option}}"><label for="{{option}}">{{option}}</label><br>
            {% end %}
            </fieldset>

          {% end %}

          {% except KeyError %}
          <p class="question_label">No multiple choice questions in this quiz</p>

        {% end %}
      </div>
      <div class="short_answer">
        <!-- Beginning of short answer questions -->
        {% try %}
          {% for question in quiz['short_answer'] %}
            <p class="question_label">Short Answer Question {{quiz['short_answer'].index(question)+1}}: {{question['text']}}</p>
            <textarea name="sa{{quiz['short_answer'].index(question)}}" cols="40" rows="5"></textarea>
          {% end %}
          {% except KeyError %}
          <p class="question_label">No short answer questions in this quiz</p>

        {% end %}

      </div>
      <button class="btn btn-primary">Submit!</button>

    </form>

  </body>
</html>
