{% extends basetemplate.html %}
{% block content %}
    <h1 class="quiz_title">{{quiz["title"]}}</h1>
    <p>Permanent quiz link: <a href="{{url}}/quiz?quiz-id={{id}}">{{url}}/quiz?quiz-id={{id}}</a></p>
    <form action="{{url}}/checkanswer?quiz-id={{id}}" method=post>
      <div class="multiple_choice">
        <!--Beginning of multiple choice questions-->
        {% try %}
          {% for question in quiz['multiple_choice'] %}
            <fieldset id="mc{{str(quiz['multiple_choice'].index(question))}}">
            <p class="question_label">Multiple Choice Question {{quiz["multiple_choice"].index(question)+1}}: {{question['text']}}</p>

            {% for option in question['options'] %}
              <input type="radio" name="mc{{str(quiz['multiple_choice'].index(question))}}" id="'a'+str(question['options'].index(option))}}" value="{{option}}"><label for="{{option}}">{{option}}</label><br>
            {% end %}
            </fieldset>

          {% end %}

          {% except KeyError %}
          <p class="question_label">No multiple choice questions in this quiz</p>

        {% end %}
      </div>
      <div class="short_answer">
        <!-- Beginning of short answer questions -->
        {% try %}
          {% for question in quiz['short_answer'] %}
            <p class="question_label">Short Answer Question {{quiz['short_answer'].index(question)+1}}: {{question['text']}}</p>
            <textarea name="sa{{quiz['short_answer'].index(question)}}" cols="40" rows="5"></textarea>
          {% end %}
          {% except KeyError %}
          <p class="question_label">No short answer questions in this quiz</p>

        {% end %}

      </div>
      <button class="btn btn-primary">Submit!</button>

    </form>
{% end %}
