{% extends basetemplate.html %}
{% block content %}
    <h1 class="quiz_title">Search for a quiz</h1>
    <input type="text" name="quizid" id="quizid" class="quizid" placeholder="Type in the quiz id!" 0></input>
    <button class="btn btn-primary" onclick="search()">Search</button>
    <script>
    var search = function(){
      var quizid = document.getElementById('quizid').value
      window.location = "{{url}}/quiz?quiz-id=" + quizid.toString();
    }
    document.getElementById('quizid').onkeypress = function(event) {
      console.log(event.keyCode)
      if (event.keyCode == 13) {
          search()
      }
    }
    </script>
{% end %}
