{% extends basetemplate.html%}

{% block style %}
div.answer-set { background-color: #eee; width:90%; margin-top: 2%; text-align: center; display: inline-block; border-radius: 15px;}
{% end %}

{% block content %}
<h1 class="quiz_title">{{quiz["title"]}}</h1>
<p>Permanent quiz link: <a href="{{url}}/quiz?quiz-id={{id}}">{{url}}/quiz?quiz-id={{id}}</a></p>

    <h2>Multiple Choice Questions</h2>
    {% try %}
      {% for qnum, mc_answer in list(mc_answers.items()) %}
        <div class="answer-set">
        <p style="bold">Question {{qnum + 1}}: {{quiz['multiple_choice'][qnum]['text']}}</p>
        <p>You picked <b>{{mc_answer[0]}}</b> as your answer</p>
        {% if mc_answer[1] %}
          <p>That answer was <b>correct</b>.</p>
        {% else %}
          <p>That answer was <b style="font-weight: bold;">incorrect</b>.</p>
          <p>The correct answer was <b>{{mc_answer[2]}}</b></p>
        {% end %}
        </div>
      {% end %}
    {% except Exception as e %}
      <p>No multiple choice questions answered, if any</p>
      <script>
      console.log("{{e}}")
      </script>
    {% end %}


    {% try %}
      <h2>Short Answer Questions</h2>
      {% for qnum, sa_answer in list(sa_answers.items()) %}
        <div class="answer-set">
        <p style="bold">Question {{qnum + 1}}: {{quiz['short_answer'][qnum]['text']}}</p>
        <p>You picked <b>{{sa_answer[0]}}</b> as your answer</p>

        <p>That answer was estimated to be <b>{{sa_answer[1]}}% correct</b>.</p>
      <p>Words in a completely correct answer would include the following: <b>{{", ".join(quiz['short_answer'][qnum]['keywords'])}}</b></p>

        </div>
      {% end %}
    {% except Exception as e %}
    <p>No short answer questions answered, if any</p>
    <script>
    console.log("{{e}}")
    </script>
    {% end %}
{% end %}
