{% extends basetemplate.html %}
{% block style %}
div.question-set { background-color: #eee; width:90%; margin-top: 2%; text-align: center; display: inline-block; border-radius: 15px;}
{% end %}
{% block script %}
var sendData = function(){
  var quiz = {};
  var url = "{{url}}/upload";
  var xhr = new XMLHttpRequest();
  xhr.open("POST",url, true)
  quiz['title'] = document.getElementById("title").value;
  quiz['multiple_choice'] = [];
  quiz['short_answer'] = [];
  for(var x = 0; x < {{num_of_mc}}; x++){
    tempmc = {"text":document.getElementById("mc"+x.toString()+"title"), "options":[]};
    for(var a = 0; a < {{num_of_mco}}; a++){
      tempmc["options"].push(document.getElementById("mc"+x.toString()+"o"+a.toString()).value);
      if(document.getElementById("mc"+x.toString()+"a"+a.toString()).checked){
        tempmc["answer"] = document.getElementById("mc"+x.toString()+"o"+a.toString()).value;
      }
    }
    quiz["multiple_choice"].push(tempmc);
  }

  for(var x = 0; x < {{num_of_sa}}; x++){
    tempsa = {"text":document.getElementById("sa"+x.toString()+"title"), "keywords":[]};
    tempkeywords = document.getElementById("sa"+x.toString()+"keywords").split(",");
    for(var k = 0; x < tempkeywords.length; k++){
      tempkeywords[k] = tempkeywords[k].trim()
    }
    tempsa["keywords"] = tempkeywords;
    quiz["short_answer"].push(tempsa);
    }
  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  var params = "api=true&quiz="+JSON.stringify(quiz);
  xhr.send(params);
}

{% end %}
{% block content %}
    <label for="title">Title: </label><input type="text" id="title" name="title" placeholder="The Best Quiz Ever"/>
    <div id="MultiQuestions">
      <h1>Multiple Choice Questions</h1>
      {% for x in range(num_of_mc) %}
      <div class="question-set">
        <fieldset id="mc{{x}}">
          <p>
            Multiple Choice Question {{ x + 1 }}: <input type="text" name="mc{{ x }}title" placeholder="title"/><br />
          </p>
          {% for y in range(num_of_mco) %}
          <input type="radio" name="mc{{ x }}" id="mc{{ x }}a{{ y }}"/><input type="text" id="mc{{ x }}o{{ y }}" placeholder="option"/><br />
          {% end %}

        </fieldset>
      </div>
      {% end %}
    </div>

    <div id="ShortAnsQuestions">
      <h1>Short Answer Questions</h1>
      <p class="small">Keywords are words that would show up in every correct question answer. The more keywords you have, the more accurate we may be in determining in correct answers.</p>
      {% for x in range(num_of_sa) %}
      <div class="question-set">
        <fieldset id="sa{{ x }}">
          <p>
            Short Answer Question {{ x + 1 }}: <input name="sa{{ x }}title"type="text" placeholder="title"/><br />
          </p>
          <p>Comma separated keywords: <input type="text" id="sa{{ x }}keywords" placeholder="key,words,are,separated,by,commas"/></p><br />
        </fieldset>
      </div>
      {% end %}
      <button class="btn btn-primary" onclick="sendData()">Submit</button>

    </div>
{% end %}
